body {
    font-family: 'Lato', sans-serif;
    background-color: #f5f5f5;
    color: #60677A;
    padding-top: 70px;
    -webkit-appearance: none;
}
.navbar-brand > img {
display: inline-block;

}
.panel-default{
    background-color: #f5f5f5;
    color: #60677A;
}
.panel-border{
    background-color: #f5f5f5;
    color: #60677A;
    border: 1px solid #60677A;
}
.panel-heading{
    background-color: #60677A;
    color: #fff;
}
.navbar-default{
    background-color: #e74944;
    color: #F5f5f5;
}
.navbar-default .navbar-brand{
    color: #f5f5f5;
}
.navbar-default .navbar-nav>li>a {
color: #F5f5f5;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
color: #fff;
background-color: #f39765;
}

.list-group-item-warning a {
color: #fff;
}
.list-group-item-warning {
color: #8a6d3b;
background-color: #E2A98A;
border-bottom: 1px solid #fff;
text-transform: capitalize;
font-weight: 700;
}
.prev,.next{
    margin-top: 16px;
    float: left;
}
.select{
overflow: hidden;
float: left;
font-size:20px;
text-align: center;
text-transform: capitalize;
background: rgba(255,255,255,0.5);
color: #333;
padding: 5px;
}
.amounts{
    text-align: center;
    padding-top: 12px;;
}

.label-success {
background-color: #47C9AF;
}
.label-danger{
   background-color: #F16C63;
}

.label-default{
    background-color: #60677A;
}
.alert-default {
    background-color: #60677A;
    border-color: transparent;
    color: #fff;
}
.alert-danger{
    background-color: #F16C63;
}
.alert-success{
    background-color: #47C9AF;
}
.caret.caret-inverse {
    border-top-width: 0;
    border-bottom: 4px solid #fff
}
.label{
    font-size: larger;
}
.progress-bar-success {
  background-color: #47C9AF;
}
.progress-bar-danger {
  background-color: #F16C63;
}
.progress-bar-default {
  background-color: #60677A;
}
#addItem{
    cursor: pointer;
    text-decoration: underline;
    color: #337ab7;
}
#addItem:hover{
    color: #60677A;
}
.jumbotron{
    color: #f5f5f5;
}
.flex-video {
  position: relative;
  padding-top: 25px;
  padding-bottom: 67.5%;
  height: 0;
  margin-bottom: 16px;
  overflow: hidden;
}

.flex-video.widescreen { padding-bottom: 57.25%; }
.flex-video.vimeo { padding-top: 0; }

.flex-video iframe,
.flex-video object,
.flex-video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media only screen and (max-device-width: 800px), only screen and (device-width: 1024px) and (device-height: 600px), only screen and (width: 1280px) and (orientation: landscape), only screen and (device-width: 800px), only screen and (max-width: 767px) {
  .flex-video { padding-top: 0; }
}
.chat {
    margin: 0;
    padding: 0;
    list-style: none;
}

.chat li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #999;
}

.chat li.left .chat-body {
    margin-left: 110px;
    margin-top: -80px;
}

.chat li.right .chat-body {
    margin-right: 60px;
}

.chat li .chat-body p {
    margin: 0;
    min-height: 100px;
}

.panel .slidedown .glyphicon,
.chat .glyphicon {

    margin-right: 5px;
}

.chat-panel .panel-body {
    height: auto;
    //overflow-y: scroll;
}
.chat-panel{
      margin-top: 30px;
}
.chat-img img{
    height: 100px;
}
.chat-footer .btn {
    border: 0;
    text-transform: uppercase;
    padding: 1px;
}
